<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> %d{HH:mm:ss.SSS} %-15.-15([%-14.-14(%.-13thread])) %-5level %logger{25} - %msg %n
            </pattern>
        </encoder>
    </appender>
    <appender name="Log" class="ch.qos.logback.core.FileAppender">
        <file>weld-osgi.log</file>
        <append>false</append>
        <encoder>
            <pattern> %d{HH:mm:ss.SSS} %-15.-15([%-14.-14(%.-13thread])) %-5level %.-250(%logger{25} - %msg) %n %xEx{full}
            </pattern>
        </encoder>
    </appender>
    <logger name="org.fourthline.cling" level="ALL" />
    <root level="debug">
        <appender-ref ref="Console" />
        <appender-ref ref="Log" />
    </root>
</configuration>